body.toplevel_page_iloveimg-admin-page, body.media_page_iloveimg-media-page,  body.admin_page_iloveimg-watermark-admin-page, body.iloveimg_page_iloveimg-compress-admin-page, body.iloveimg_page_iloveimg-watermark-options-admin-page, body.iloveimg_page_iloveimg-watermark-admin-page{
	.iloveimg_settings{
		input[type="text"], input[type="email"], input[type="password"]{
			background: #FFFFFF;
			border: 1px solid #969696;
			border-radius: 2px;
			height: 32px;
			width: 100%;
			margin-bottom: 10px;
			display: block;
			font-weight: bold;
			&.iloveimg_field_email{
				background: url("../images/icon_email.svg") 8px center no-repeat;
				text-indent: 22px;
			}
			&.iloveimg_field_password{
				background: url("../images/icon_password.svg") 8px center no-repeat;
				text-indent: 22px;
			}
			&.iloveimg_field_name{
				background: url("../images/icon_name.svg") 8px center no-repeat;
				text-indent: 22px;
			}
			&:-webkit-autofill,
			&:-webkit-autofill:hover, 
			&:-webkit-autofill:focus, 
			&:-webkit-autofill:active  {
			    //-webkit-box-shadow: 0 0 0 30px white inset !important;
			    text-indent: 0;
			}
		}
		select{
			    border: 1px solid #383e48;
		    max-width: 130px;
		    height: 32px;
		    border-radius: 0px;
		    margin-right: 10px;
		}
		input[type="submit"], input[type="button"]{
			background-color: $primary_color;
			color: #fff;
			text-shadow: none;
			border: 0;
			letter-spacing: 0.2px;
			text-align: center;
			box-shadow: 0 1px 0 0 rgba(0,0,0,0.20);
			font-weight: normal;
			line-height: 32px;
    		height: 32px;
    		padding: 0 16px 1px;
			&:hover{
				opacity: .8;
			}

		}
		input[type="checkbox"]{
			appearance: none;
			background: #FFFFFF;
			border: 1px solid #969696;
			box-shadow: none;
			border-radius: 2px;
			&:checked{
				border-color: $primary_color;
				color: red;
				position: relative;
				&:before{
					color: $primary_color;
				    content: "";
				    background: url("../images/check.svg") no-repeat center center;
				    display: block;
				    background-size: 60%;
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    margin: 0;
				}
			}
		}
		p.submit{
			margin: 0;
			padding: 0;
			button[disabled]{
				background: #ccc !important;
				text-shadow: none !important;
				cursor: not-allowed;
			}
		}
		.button{
			&.button-secondary{
				background-color: #383E45;
				color: #fff !important;
				border: 0;
				line-height: 32px;
    			height: 32px;
    			padding: 0 16px 1px;
				&:hover{
					opacity: .7;
				}
			}
		}

		.iloveimg_percent{
			height: 16px;
			width: 100%;
			background-color: #fff;
			padding: 4px;
			position: relative;
			@media  (max-width: $width_medium){
				width: calc(100% - 20px);
			}
			&.iloveimg_percent-exceeded{
				&:after{
					content: "";
					display: inline-block;
					width: 20px;
					height: 20px;
					background: url("../images/icon_excedeed.svg");
					background-size: 100%;
					position: absolute;
					right: -25px;
					bottom: -3px;
				}
			}
			&.iloveimg_percent-warning{
				&:after{
					content: "";
					display: inline-block;
					width: 20px;
					height: 20px;
					background: url("../images/icon_warning.svg");
					background-size: 100%;
					position: absolute;
					right: -25px;
					bottom: -3px;
				}
			}
			.iloveimg_percent-total{
				height: 8px;
				background: $primary_color;
				max-width: 100%;
			}
			& + p{
				margin: 5px 0 12px 0;
			}
		}

		/* The switch - the box around the slider */
		.switch {
		  position: relative;
		  display: inline-block;
		  width: 30px;
		  height: 18px;
		}

		/* Hide default HTML checkbox */
		.switch input {
	      position: relative;
		    z-index: 10;
		    width: 100%;
		    height: 100%;
		    margin: 0;
		    opacity: 0;
		}

		/* The slider */
		.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #fff;
		  -webkit-transition: .4s;
		  transition: .4s;
		  border-radius: 25px;
		  border: 1px solid #383E45;
		  &:after{
		  	content: "";
		    position: absolute;
		    width: 3px;
		    height: 3px;
		    top: 6px;
		    right: 4px;
		    border: 1px solid #383e45;
		    border-radius: 100%;
		    background-color: white;
		  }

		}

		.slider:before {
		  position: absolute;
		  content: "";
		  height: 10px;
		  width: 10px;
		  left: 3px;
		  bottom: 3px;
		  background-color: #383E45;
		  -webkit-transition: .4s;
		  transition: .4s;
		  border-radius: 100%;
		}

		input:checked + .slider {
		  background-color: $primary_color;
		  border: 1px solid $primary_color;
		  &:after{
		  	content: "";
		    position: absolute;
		    width: 1px;
		    height: 6px;
		    background: white;
		    top: 5px;
		    left: 6px;
		    border: 0px;
		  }
		}

		input:focus + .slider {
		  box-shadow: 0 0 1px $primary_color;

		}

		input:checked + .slider:before {
		  -webkit-transform: translateX(16px);
		  -ms-transform: translateX(16px);
		  transform: translateX(10px);
		  background-color: white;
		}

		/* Rounded sliders */
		.slider.round {
		  border-radius: 34px;
		}

		.slider.round:before {
		  border-radius: 50%;
		}


		.tooltip {
		  position: relative;
		  display: inline-block;
		  border-bottom: 1px dotted black;
		}

		.tooltip .tooltiptext {
			overflow: hidden;
		    visibility: hidden;
		    width: 350px;
		    background-color: #000;
		    color: #fff;
		    text-align: center;
		    border-radius: 6px;
		    padding: 5px 0;
		    position: absolute;
		    z-index: 1;
		    bottom: 115%;
		    left: 50%;
		    margin-left: -290px;
		    font-size: 12px;
		    line-height: 16px;
		}

		.tooltip .tooltiptext::after {
		  content: "";
		  position: absolute;
		  top: 100%;
		  left: 50%;
		  margin-left: -5px;
		  border-width: 5px;
		  border-style: solid;
		  border-color: black transparent transparent transparent;
		}
		.submit{
			button.need_saving{
				animation: shadow-pulse 1s infinite;
			}
			button[disabled]{
				&.tooltip:hover .tooltiptext {
				  visibility: visible;
				}
			}
		}

	}
}

