body.media_page_iloveimg-media-page{
	input#doaction,
	input#doaction2{
		background-color: #383E45;
	}
	.tablenav{
		height: auto;
		&.top{
			margin-bottom: 14px;
		}
		&.bottom{
			margin-top: 14px;
		}
	}
	table.wp-list-table{
		border: 0;
		box-shadow: $box_shadow;
		border-radius: 4px;
		thead{
			> tr{
				height: 50px;
				th,td{
					border: 0;
					padding-top: 0px;
    				padding-bottom: 0px;
    				&.check-column{
    					width: 3em;
    					@media  (max-width: 2000px){
    						
    					}
    				}
				}
			}
		}
		tbody{
			tr{
				&:nth-child(odd){
					background-color: #F3F4F5;
				}
				th, td{
					vertical-align: middle;
					&:first-child{
						vertical-align: top;
					}
					.attachment-thumbnail{
						width: 60px;
						height: 60px;
						margin-right: 5px;
					}
				}
				td{
					&.column-file{
						> a{
							display: flex;
							&:hover{
								color: $primary_color;
							}
						}
					}
				}
			}
		}
		tr{

			th{
				color: $primary_color;
				font-weight: bold;

				a{
					color: $primary_color;
					span{
						color: $primary_color;
					}
				}
			}
		}
	}
	.iloveimg_settings__overview__compress-all{
		display: flex;
		justify-content: center;
		#iloveimg_allcompress{
			margin-top: 20px;
		}
	}
}
body{
	small.iloveimg__badge__percent{
	    background-color: #6fe21c;
		color: #383e45;
		padding: 1px 8px;
		border-radius: 4px;
		margin-left: 8px;
		font-size: 10px !important;
		display: inline !important;
	}
	button.button.iloveimg-compress,
	button.button.iloveimg-compress-all{
		font-family: $font_family;
		font-size: 13px;
		color: #4D90FE;
		letter-spacing: 0.2px;
		text-align: center;
		background-color: #fff;
		text-shadow: none;
		box-shadow: none;
		border: 1px solid $primary_color;
		line-height: 32px !important;
		height: 32px !important;
		padding: 0 16px !important;
		border-radius: 16.5px;
		&:hover{
			background-color: $primary_color !important;
		}
		&:disabled{
			background-color: $primary_color !important;
			opacity: .7;
		}
	}
	table.table__details__sizes{
		font-family: $font_family;
		font-size: 13px;
		color: #626870;
		letter-spacing: 0.2px;
		width: 360px;
		//display: block;
		margin: 20px auto;
		border-spacing: 0;
		tbody{
			tr{
				td, th{
					line-height: 34px;
					padding: 0 15px;
					border: 0;
				}
				&:nth-child(even){
					background-color: #F3F4F5;
				}
			}
		}
	}
}