$primary_color: #4D90FE;
$secondary_color: #383E45;
$text_color: #383E45;
$font_family: 'Roboto', sans-serif;
$body_font_size: 13px;
$background_color: #F9F8F6;
$box_shadow: 0 2px 6px 0 rgba(0,0,0,0.10);
$radius: 5px;
$letter_spacing: 0.45px;

$width_small: 700px;
$width_medium: 1024px;