parameters:
	level: 5
	paths:
			- ./
	ignoreErrors:
			- "#Constant ILOVE_IMG_COMPRESS_PLUGIN_URL not found#"
	excludePaths:
			analyseAndScan:
					- vendor
					- node_modules
			analyse:
					- vendor/ilovepdf/iloveimg-php