@import 'functions';
@import 'progressbar';
$primary-color: #4d90fe;
.admin-page-framework-container #poststuff .admin-page-framework-content{
    .iloveimg_optimize{
        @extend %reset;
        color: #8e8e8e;
        font-size: 12px;
        .iloveimg__optimize__details{
            background-color: #fff;
            padding: 20px;
            border: 1px solid #e6e6e6;
            .iloveimg__optimize__details-cols{
            display: flex;
                .iloveimg__optimize__details-overview{
                    width: 60%;
                    h3{
                        font-weight: 700;
                        font-size: 18px;
                        border-bottom: 1px solid #f5f5f5;
                        padding-bottom: 5px;
                        margin-bottom: 20px;
                    }
                    .iloveimg__cols{
                        display: flex;
                        align-items: center;
                        .iloveimg__col_1{
                            width: calc(100% - 200px);
                            .totalImages{
                                strong{
                                    font-weight: bold;
                                    font-size: 40px;
                                    line-height: 40px;
                                    color: #000;
                                }
                                color: #8e8e8e;
                                margin-bottom: 20px;
                            }
                            .iloveimg_bar{
                                margin-bottom: 10px;
                                &.iloveimg_bar-original{
                                    .iloveimg_bar-percent-bar{
                                        width: calc(100% - 70px);
                                        background-color: #d6d4d4 !important;
                                    }
                                    .iloveimg_bar-percent-mb{
                                        color: #8e8e8e !important;
                                    }
                                }
                                .iloveimg_bar-percent{
                                    display: flex;
                                    align-items: center;
                                    
                                    .iloveimg_bar-percent-bar{
                                        display: block;
                                        height: 10px;
                                        background-color: $primary-color;
                                    }
                                    .iloveimg_bar-percent-mb{
                                        margin-left: 5px;
                                        font-weight: bold;
                                        white-space: nowrap;
                                        color: $primary-color;
                                    }
                                }
                            }
                            .iloveimg_totalsaved{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                margin-top: 20px;
                                .iloveimg_totalsaved-percent{
                                    font-weight: bold;
                                    font-size: 40px;
                                    line-height: 40px;
                                    color: $primary-color;
                                    margin-right: 10px;
                                }
                                p{
                                    width: 180px;
                                }
                            }
                        }
                        .iloveimg__col_2{
                            width: 200px;
                            padding: 0 20px;
                        }
                    }
                }
            }
            .iloveimg__optimize__details-buttons{
                margin-top: 30px;
                display: flex;
                justify-content: center;
            }
        }
    }
}